/**
  *  CSS公共基础样式
  *  CSS common base style
  */


/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  display: block;
  content: '';
  height:0;
  visibility:hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* 单行文字省略号 */
.a-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多行文字省略号 */
.multi-line-ellipsis {
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 0.5px 线条 */
.point-five-px-line {
  position: relative;
}
.point-five-px-line::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 200%;
  height: 1px;
  background-color: #e5e5e5;
  transform: scale(0.5);
  transform-origin: 0;
}
